<div class="col-12" style="min-height:890px;background-color: #fff;">  
<div class="col-12 pull-right mt-3 mb-3">
        <button (click)="goBack()" class="btn btn-primary btn-sm pull-right">go back</button>
</div>


<table class="table table-hover table-condensed" [mfData]="data" #mf="mfDataTable"
[mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
<thead>
<tr>
    <th style="width: 20%">
        <mfDefaultSorter by="name">Seen</mfDefaultSorter>
    </th>
    <th style="width: 20%">
        <mfDefaultSorter by="name">URL</mfDefaultSorter>
    </th>
    <th style="width: 20%">
        <mfDefaultSorter by="type">Type</mfDefaultSorter>
    </th>
    <th style="width: 20%">
        <mfDefaultSorter by="name">SubType</mfDefaultSorter>
    </th>
    <th style="width: 20%">
        <mfDefaultSorter by="name">Status</mfDefaultSorter>
    </th>
    <th style="width: 50%">
        <mfDefaultSorter by="email">TM Seen</mfDefaultSorter>
    </th>
    <th style="width: 10%">
        <mfDefaultSorter by="age">TM Satus</mfDefaultSorter>
    </th>
</tr>
</thead>
<tbody>
<tr *ngFor="let item of mf.data">
    <td>{{item.attributes.first_seen}}</td>
    <td>{{item.attributes.crime_server_url}}</td>
    <td>{{item.type}}</td>
    <td>{{item.attributes.subtype_name}}</td>
    <td>{{item.attributes.status}}</td>
    <td>{{item.attributes.last_seen}}</td>
    <td>{{item.attributes.is_false_positive}}</td>
</tr>
</tbody>
<tfoot>
<tr>
 <td colspan="7">
     <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
 </td>
</tr>
</tfoot>
</table>
</div>